<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div style="width: 100%; height: 100%; overflow-y: auto; overflow-x: hidden; padding: 1rem 1rem 1rem 2rem;">
  <div class="row" style="margin-bottom: 0;">
    <div class="col s8">
      <div>
        <h3 style="margin-top: 1rem;">{{actorDefinition.name}}</h3>

        <em-help *ngFor="let body of actorDefinition.help" [content]="body.content"></em-help>

      </div>

      <div style="margin-top: 2rem;" *ngIf="slots && slots.length > 0">
        <div class="card-title"><h5>Starting Commands</h5></div>

        <em-command-slot *ngFor="let slot of slots" [slot]="slot" [isMainUI]="false"
                         [isSelectable]="false"></em-command-slot>
      </div>


    </div>
    <div class="col s4">
      <em-actor-definition-stats-help [actorDefinition]="actorDefinition"></em-actor-definition-stats-help>
    </div>
  </div>
</div>
