<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div style="width: 100%; min-width: 800px; padding-top: 1rem;">

  <div class="row">
    <div class="col s12 m12 l9">
      <div style="max-width: 915px; width: 100%; display: inline-block;">
        <div class="card">
          <div class="card-content" style="padding-top: 12px; padding-bottom: 12px;">
            <div class="card-title">Available Commands</div>
            <mat-grid-list [cols]="10"
                           #listAvailable
                           id="listAvailable">
              <mat-grid-tile *ngFor="let slot of actor.storedCommandSlots">
                <em-command-slot
                  class="command-slot"
                  draggable droppable [dragScope]="'command'" [dropScope]="'command'" [dragData]="slot"
                  (onDrop)="onCommandDropped(slot, $event)"
                  (click)="selectSlot(slot)"
                  [slot]="slot"
                  [isSortable]="true"
                  [selected]="slot === selectedSlot"></em-command-slot>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>

        <div class="card">
          <div class="card-content" style="padding-top: 12px; padding-bottom: 12px;">
            <div class="card-title">Installed Commands</div>
            <mat-grid-list cols="10"
                           #listInstalled
                           id="listInstalled">
              <mat-grid-tile *ngFor="let slot of actor.installedCommandSlots">
                <em-command-slot [slot]="slot"
                                 draggable droppable [dragScope]="'command'" [dropScope]="'command'" [dragData]="slot"
                                 (onDrop)="onCommandDropped(slot, $event)"
                                 (click)="selectSlot(slot)"
                                 class="command-slot"
                                 [selected]="slot === selectedSlot"></em-command-slot>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l3">

      <div style="max-width: 915px;">
        <div class="card horizontal" *ngIf="selectedCommand">
          <div class="card-image blue-grey darken-4">
            <p style="padding: 0.5rem;"><i class="material-icons medium">{{selectedCommand.iconName}}</i></p>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p class="card-title">{{selectedCommand.name}}</p>
              <p>{{selectedCommand.description}}</p>
              <p *ngIf="selectedCommand.isActive !== undefined" style="margin-top: 1rem;">This is an active command that
                will incur an operations cost regularly until it is deactivated.</p>
            </div>
            <div class="card-action blue-grey darken-3" style="padding-top: 1rem; padding-bottom: 1rem;">
              <span><strong>Activation Cost:</strong> {{selectedCommand.activationCostText}}</span>
            </div>
          </div>
        </div>

        <div class="card grey darken-2" *ngIf="!selectedCommand">
          <div class="card-content">
            <div class="card-title">Instructions</div>

            <p>Drag and drop to rearrange commands. Click on a command to get more information
              about what it does.</p>
            <p style="margin-top: 1rem;">Only installed commands can be executed.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
