/*!
 * Copyright (c) 2018 Matt Eland
 * Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
 */

.collection-item {

  cursor: pointer;

  a {
    color: white;
  }

  &:hover {
    background-color: teal;
  }

}

.semi-transparent {
  opacity: 0.9;
}

.warning-container {
  position: absolute;
  bottom: 1rem;
  left: 20%;
  right: 20%;
}

.menu-container {
  position: absolute;
  bottom: 35%;
  left: 0;
  right: 0;
  text-align: center;
}
