<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div class="container" style="min-width: 800px;">

  <div style="position: absolute; left: 0; right: 0; top: 2rem;">
    <div style="text-align: center;">
    <div style="text-align: left; width: 600px; display: inline-block;">
      <div class="card semi-transparent">
        <div class="card-content" style="padding-bottom: 0; padding-top: 1rem;">
          <div class="card-title">
            <h1 style="display: inline-block;">Emergence</h1>
            <small>{{version}}</small>
          </div>
        </div>
        <div class="card-action">
          <div class="card-subtitle">A Cyberpunk Roguelike</div>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="menu-container">
    <div class="z-depth-2 blue-grey darken-3" style="text-align: center; padding: 1.5rem; display: inline-block; ">
      <button class="waves-effect waves-light btn-large" [routerLink]="['/setup']" type="button">
        <i class="material-icons left">play_arrow</i> New Game
      </button>
      <button class="waves-effect waves-light btn-large" [routerLink]="['/play']" type="button" *ngIf="isInGame">
        <i class="material-icons left">folder_open</i> Continue
      </button>
<!--
      <a class="waves-effect waves-light btn-large" [routerLink]="['/options']">
        <i class="material-icons left">settings</i> Options
      </a>
-->
      <button class="waves-effect waves-light btn-large" [routerLink]="['/help']" type="button">
        <i class="material-icons left">help</i> Help
      </button>
      <button class="waves-effect waves-light btn-large" [routerLink]="['/help/general/credits']" type="button">
        <i class="material-icons left">info_outline</i> Credits
      </button>
    </div>
  </div>

  <div class="warning-container">
    <div class="semi-transparent">
    <div class="card-panel orange lighten-2 red-text text-darken-4" style="padding: 1rem; margin-bottom: 0;">
      <i class="material-icons medium pull-left" style="margin-right: 1rem; margin-top: 0.25rem; ">warning</i>
      <p style="text-align: justify;">Emergence is under active development in a pre-alpha stage. Expect frequent changes, bugs, quirks,
        as well as unpolished or missing functionality. Enjoy the ride.
      </p>
    </div>

    <div class="card-panel grey darken-3" style="text-align: center; padding: 0.5rem; margin-top: 0;">
      <small>Copyright 2018 Matt Eland; All Rights Reserved.</small>
    </div>

    </div>
  </div>

</div>
