/*!
 * Copyright (c) 2018 Matt Eland
 * Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
 */

.help-panel {
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  left: 24rem;
  right: 0;
  bottom: 0;
  padding: 0;
}

.contents-panel {
  margin: 0;
  position: absolute;
  top: 0;
  width: 22rem;
  bottom: 0;
  padding: 0;
  left: 0;

  .card-content {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    bottom: 4.5rem;
    top: 0;
    left: 0;
    right: 0;
  }

  .card-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

/deep/ .mat-expansion-panel {
  .mat-expansion-panel-header {

    &.active {
      background-color: #263238;
      &:hover {
        background-color: #2b3940;
      }
    }

    /*
    background-color: #37474f;
    &:hover {
      background-color: #263238;
    }
    */
  }

  background-color: #37474f;

  &.mat-expanded {
    background-color: #263238;
    /*
    &:hover {
      background-color: #263238;
    }
    */
  }

  .mat-expansion-panel-body {
    padding: 0 0.25rem 0.25rem;
    background-color: #455a64;

    .collection {
      margin: 1px;
    }
  }
}
