<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div style="padding: 2rem; overflow-x: hidden; overflow-y: auto; height: 100%; width: 100%;">
<h3 style="margin-top: 0;">
  {{article.name}}
</h3>
  <em-help *ngFor="let body of article.body" [content]="body.content"></em-help>
</div>
