/*!
 * Copyright (c) 2018 Matt Eland
 * Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
 */

.command-slot {
  display: inline-block;
  position: relative;
  width: 75px;
  height: 75px;
  font-family: "Share Tech Mono", "Courier New", monospace;

  &.slot-small {
    width: 55px;
    height: 55px;
  }

  &.sort-ui {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    cursor: move;
    vertical-align: top;
    padding: 4px;

  }

  &.main-ui {
    margin: 0;
    cursor: pointer;

    &.command-absent {
      cursor: not-allowed;
    }
  }

}

.command-present {
  background: #37474f;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);

  &.main-ui {
    &:hover {
      background: #455a64;
    }
  }

  &.selectable {
    &:hover {
      background: #37474f;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    }
  }

  &.selected {
    background: #009688;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  }
}

.command-absent {
  background: #212121;
  color: #9e9e9e;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

  &:hover {
    &.sort-ui {
      background: #424242;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    }
  }

  &.selected {
    background: #009688;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  }
}

.command-shortcut {
  font-size: 12px;
  position: absolute;
  left: 0.25rem;
  top: 0;
  &.slot-small {
    font-size: 10px;
  }
}

.command-cost {
  font-size: 9px;
  color: #ff9800;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3px;
  &.slot-small {
    font-size: 8px;
    bottom: 2px;
  }
}

.command-active {
  display: block;
  background: #9e9e9e;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;

  &.active {
    background: #1de9b6;
  }
}
