<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div #canvasContainer style="width: 100%; height: 100%;">
  <canvas class="black" #gameCanvas>
  </canvas>
</div>
