<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div style="padding: 2rem; overflow-x: hidden; overflow-y: auto; height: 100%; width: 100%;">
<h3 style="margin-top: 0;">Credits</h3>

<div class="card teal">
  <div class="card-content" style="padding-top: 0.5rem; padding-bottom: 0.5rem;">
    <div class="card-title"><h5>Development</h5></div>
    <em-help [content]="'Designed and developed by Matt Eland'"></em-help>
  </div>

</div>

<div class="row" style="margin-bottom: 0;">
  <div class="col s6">
    <em-help-headered-item [header]="'Special Thanks'">
      <ul>
        <li>Heather</li>
        <li>Chip</li>
        <li>Wrong Jake</li>
        <li>Mark</li>
        <li>r/roguelikedev Discord</li>
      </ul>
    </em-help-headered-item>
  </div>
  <div class="col s6">
    <em-help-headered-item [header]="'Art Assets'">
      <ul>
        <li>Matt Eland</li>
        <li>Using Tilesets From:
          <ul>
            <li>Oryx Tiny Galaxy</li>
            <li>Oryx 16-Bit Sci-Fi</li>
            <li>Kenney's Roguelike Tiles</li>
          </ul>
        </li>
      </ul>
    </em-help-headered-item>
  </div>
  <div class="col s6">
    <em-help-headered-item [header]="'Libraries'">
      <ul>
        <li>Angular 5 / TypeScript</li>
        <li>Pixi.JS</li>
        <li>The Field</li>
        <li>Materialize CSS</li>
        <li>Chromatism</li>
        <li>Chance</li>
        <li>Angular Material</li>
        <li>ng-drag-drop</li>
        <li>Rollbar</li>
        <li>Google Analytics</li>
      </ul>
    </em-help-headered-item>
  </div>
  <div class="col s6">
    <em-help-headered-item [header]="'Tools'">
      <ul>
        <li>WebStorm</li>
        <li>Pyxel Edit</li>
        <li>TeamCity</li>
        <li>Siren of Shame</li>
        <li>GitLab</li>
        <li>GitKraken</li>
      </ul>
    </em-help-headered-item>
  </div>
</div>

<div class="card-panel grey darken-1" style="padding: 0.5rem; text-align: center; margin-top: 0; margin-bottom: 0;">
  <p style="margin-top: 0; margin-bottom: 0;">Copyright 2018 Matt Eland. All Rights Reserved.</p>
</div>
</div>
