<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div class="btn btn-floating btn-large"
     [ngClass]="{'teal': isAccent, 'blue-grey darken-2': !isAccent}"
     [title]="title"
     (click)="onClick()"
(mouseenter)="onMouseEnter()"
(mouseleave)="onMouseLeave()">
  <i *ngIf="iconName" class="material-icons">{{iconName}}</i>
</div>
