<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div class="card panel-bg" style="position: absolute; left: 25%; right: 25%; top: 40%; height: 110px; opacity: 0.9; z-index: 10;">
  <p class="flow-text" style="text-align: center; vertical-align: center;">Game Paused<br> Click to Continue</p>
</div>
