/*!
 * Copyright (c) 2018 Matt Eland
 * Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
 */

.character-icon {
  margin-right: 1rem;
  display: inline-block;
  cursor: pointer;
  color: #cfd8dc;

  :hover {
      color: #ffffff;
  }

}

.class-details {
  position: absolute;
  left: 0;
  right: 0;
  top: 11.25rem;
  bottom: 6.5rem;
}

.class-list {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  vertical-align: center;
}

.character-icon-selected {
  color: #1de9b6;
  border-bottom: #1de9b6 0.5rem solid;
}

.card-content {
  padding: 0.5rem;
}

.mat-tab-label-active {
  opacity: 1 !important;
}
