<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div class="container" style="position: absolute; top: 1rem; left: 0; right: 0; bottom: 1rem;">

  <!-- Close button shouldn't be needed initially, but maybe later
    <span (click)="onCloseClick()" style="position: absolute; right: 1rem; top: 0.5rem; z-index: 5; cursor: pointer; margin-top: 0.5rem; display: inline;" title="Return to the game"><i
      class="small material-icons">close</i></span>
  -->

  <div class="card blue-grey darken-3" style="position: absolute; top: 0; left: 0; right: 0; bottom: 5rem;">
    <div class="card-content" style="height: 100%;">
      <div style="padding-left: 1rem; padding-right: 1rem;">
        <div class="card-title">
          <h4>Select Character</h4>
        </div>

        <p>
          Select an AI type and click Start to begin playing. Each AI type has different stats, abilities, and
          recommended playstyles.
        </p>
      </div>

    </div>

  </div>

  <div style="position: absolute; top: 9rem; left: 0; right: 0; bottom: 11rem;">
    <div mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let charClass of availableClasses"
         [routerLink]="charClass.playerClass"
         [title]="charClass.shortName"
         style="min-width: auto;"
         [active]="selectedClass === charClass">
        <div>
          <i class="material-icons tiny">{{charClass.iconName}}</i> <span style="padding-left: 0.5rem;">{{charClass.shortName}}</span>
        </div>
      </a>
    </div>
    <div class="blue-grey darken-2" style="height: 100%;">
      <router-outlet></router-outlet>
    </div>
  </div>


  <!-- Actions -->
  <div class="card" style="position: absolute; left: 0; right: 0; bottom: 1rem;">
    <div class="card-action">
      <button class="btn waves-light waves-ripple"
              type="button"
              title="Start the game with the currently selected character"
              autofocus
              (click)="selectedClass && onStartClick()"
              [disabled]="!selectedClass">
        <i class="material-icons left">play_arrow</i>
        Start
      </button>
      <button class="btn grey darken-2 waves-light waves-ripple success-bg" style="margin-left: 1rem;"
              type="button"
              title="Return to the Main Menu"
              [routerLink]="['/menu']">
        <i class="material-icons left">menu</i>
        Back to Menu
      </button>
    </div>
  </div>


</div>
