<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div class="card grey darken-1" style="margin-right: 1rem;">
  <div class="card-content">
    <div class="card-title"><h5>Starting Stats</h5></div>
    <table>
      <thead>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Accuracy</td>
        <td>{{actorDefinition.accuracy}}</td>
      </tr>
      <!--
            <tr>
              <td>Damage Resistance</td>
              <td>{{actorDefinition.damageResistance}}</td>
            </tr>
      -->
      <tr>
        <td>Attack Damage</td>
        <td>{{getDamageRangeText()}}</td>
      </tr>
      <tr>
        <td>Evasion</td>
        <td>{{actorDefinition.evade}}</td>
      </tr>
      <tr>
        <td>Initial Stability</td>
        <td>{{actorDefinition.hp}}</td>
      </tr>
      <!--
            <tr>
              <td>Operations Regen / Turn</td>
              <td>{{actorDefinition.opsRegen}}</td>
            </tr>
      -->
      <tr>
        <td>Vision Radius</td>
        <td>{{actorDefinition.visionRadius}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
