<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<em-renderer-container
  style="position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 0;"></em-renderer-container>

<!-- Command bar buttons -->
<em-command-slot *ngFor="let slot of commandSlots"
                 style="position: fixed; z-index: 2;"
                 [style.left.px]="slot.x"
                 [style.top.px]="slot.y"
                 [slot]="slot.slot"
                 [hotkey]="slot.hotkey"
                 [selected]="slot.isSelected"
                 [enabled]="slot.isEnabled"
                 [instruction]="slot.instruction"
                 [callback]="slot.callback"
                 [isMainUI]="true"></em-command-slot>

<!-- Other UI buttons -->
<em-inline-button *ngFor="let button of commandButtons" style="position: fixed; z-index: 5;"
                  [iconName]="button.iconName"
                  [instruction]="button.instruction"
                  [style.top.px]="button.y"
                  [style.left.px]="button.x">
</em-inline-button>
