<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div class="card blue-grey">
  <div class="card-content">
    <div class="card-title"><strong>{{header}}</strong></div>

    <ng-content></ng-content>
  </div>
</div>
