<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div class="card" style="width: 100%; height: 100%; margin: 0;">
  <div class="card-content" style="position: absolute; top: 0; bottom: 7.5rem; left: 0; right: 0;  padding-right: 0;">
    <div class="card-title">
      <h3 style="margin-top: 0;">{{release.version}} Release Notes</h3>
    </div>
    <div style="overflow-x: hidden; overflow-y: auto; height: 100%; width: 100%; padding-right: 1rem;">
      <p *ngIf="release.date">Released {{release.date | date}}</p>
      <p *ngIf="release.summary" class="card-subtitle" style="margin-top: 1rem;">{{release.summary}}</p>

      <div *ngIf="release.features.length > 0">
        <h4>Features / Changes</h4>

        <div class="row">

          <em-help-headered-item *ngFor="let item of release.features" [header]="item.header" class="col s6">
            <em-help *ngFor="let body of item.body" [content]="body"></em-help>
            <ul *ngIf="item.listItems">
              <li *ngFor="let listItem of item.listItems">{{listItem}}</li>
            </ul>
          </em-help-headered-item>

        </div>
      </div>

      <div *ngIf="release.bugfixes.length > 0">
        <h4>Bugfixes / Improvements</h4>

        <div class="row">

          <em-help-headered-item *ngFor="let item of release.bugfixes" [header]="item.header" class="col s6">
            <em-help *ngFor="let body of item.body" [content]="body"></em-help>
            <ul *ngIf="item.listItems">
              <li *ngFor="let listItem of item.listItems">{{listItem}}</li>
            </ul>
          </em-help-headered-item>

        </div>
      </div>

      <div *ngIf="release.notes.length > 0">
        <h4>Nerdy Stuff</h4>
        <div class="row">
          <em-help-headered-item *ngFor="let item of release.notes" [header]="item.header" class="col s6">
            <em-help *ngFor="let body of item.body" [content]="body"></em-help>
            <ul *ngIf="item.listItems">
              <li *ngFor="let listItem of item.listItems">{{listItem}}</li>
            </ul>
          </em-help-headered-item>
        </div>
      </div>
    </div>
  </div>
  <div class="card-action" style="position: absolute; bottom: 0; left: 0; right: 0; height: 69px;">
    <a class="btn" *ngIf="previousRelease" [routerLink]="['/help', 'releases', previousRelease.version]">Previous: {{previousRelease.version}}</a>
    <a class="btn" *ngIf="nextRelease" style="position: absolute; right: 1rem;" [routerLink]="['/help', 'releases', nextRelease.version]">Next: {{nextRelease.version}}</a>
  </div>
</div>
