<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<div class="container">
  <div style="padding: 2rem;">
    <div class="card">
      <div class="card-content">
        <div class="card-title">Resource Not Found</div>
        <p>{{resource}} could not be found.</p>
      </div>
      <div class="card-action">
        <p>If the game sent you here, please <a class="btn" href="mailto:matt.eland@gmail.com"
                                                style="padding-left: 1rem; padding-right: 1rem;">contact me</a> with
          more information.</p>
      </div>
    </div>

    <button class="btn waves-block" [routerLink]="['/menu']">Return to Main Menu</button>

  </div>
</div>
