/*!
 * Copyright (c) 2018 Matt Eland
 * Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
 */

html, body, head {
  height: 100%;
}

h1.mat-dialog-title {
  font-family: "Share Tech Mono", "Courier New", monospace;
  font-weight: bold;
}

.full-height {
  height: 100%;
  min-height: 100%;
}

.wide-load {
  width: 100%;
}

/* Definition lists should render in a more horizontal mode */
dl {
  padding: 0.5em;
}
dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
}
dt:after {
  content: ":";
}
dd {
  margin: 0 0 0 110px;
}

.inferred {
  opacity: 0.5;
}

.badge.small {
  font-size: 55%;
  vertical-align: text-top;
}

h1 {
  font-size: 2.75em;
  margin-top: 12px;
  margin-bottom: 12px;
}

h2 {
  font-size: 2em;
  margin-top: 12px;
  margin-bottom: 12px;
}

// Colors
$themeColor: #37474f;
$accentColor: #708090;
$warnColor: #f44336;
$darkColor: #343a40;
$greyColor: #424242;
$lightColor: #03a9f4;
$highlightColor: #26a69a;

.theme-text {
  color: $themeColor;
}

.accent-text {
  color: $accentColor;
}

.warn-text {
  color: $warnColor;
}

.theme-bg {
  background-color: $themeColor;
}

.accent-bg {
  background-color: $accentColor;
}

.warn-bg {
  background-color: $warnColor;
}

.content-bg {
  background-color: $darkColor;
}

.panel-bg {
  background-color: $greyColor !important;
}

.small-text {
  font-size: 75%;
}

.chip.small-text {
  height: 20px;
  line-height: 20px;
}

.tabs .indicator {
  color: orange;
}

.token-noun {
  background: $lightColor;
}

.token-adjective {
  background: $lightColor;
}

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-teal); // $primary-color
$dark-accent:  mat-palette($mat-blue-grey); // $secondary-color
$dark-warn:    mat-palette($mat-deep-orange); // $warn-color
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the default theme styles.
@include angular-material-theme($dark-theme);

/* Draggable*/

.drag-border {
}

.drag-handle {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.drag-handle:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
  border: #607d8b 1px solid;
}

.drag-over-border {
  border: #00e676 1px solid;
}

.drag-transit {
}

/// Mixin to customize scrollbars
/// Beware, this does not work in all browsers
/// @author Hugo Giraudel
/// @param {Length} $size - Horizontal scrollbar's height and vertical scrollbar's width
/// @param {Color} $foreground-color - Scrollbar's color
/// @param {Color} $background-color [mix($foreground-color, white, 50%)] - Scrollbar's color
/// @example scss - Scrollbar styling
/// @include scrollbars(.5em, slategray);
@mixin scrollbars($size) {
  // For Google Chrome
  ::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $highlightColor;
    box-shadow: 0 0 5px $greyColor;
    border-radius: 10px;
    margin: 2px;
    cursor: ns-resize;
  }

  ::-webkit-scrollbar-track {
    background: $greyColor;
    border: 1px solid $darkColor;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $highlightColor;
    scrollbar-track-color: $darkColor;
  }
}

@include scrollbars(1rem)
