<!--
  ~ Copyright (c) 2018 Matt Eland
  ~ Licensed under the Eclipse Public License. See LICENSE file in the project root for full license information.
  -->

<h1 mat-dialog-title>{{task.header}}</h1>

<div mat-dialog-content style="padding-bottom: 2rem;">
  <p>
    {{task.message}}
  </p>
</div>

<div mat-dialog-actions>
  <a class="btn waves-light waves-ripple success-bg" (click)="confirm()">
    Confirm
  </a>
  <a class="btn waves-light waves-ripple warn-bg" (click)="cancel()" style="margin-left: 1rem;">
    Cancel
  </a>
</div>
